html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

#game {
  display: block;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
}
